* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
    color: gold;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1em sans-serif;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    color: white;
}

.hold {
    display: flex;
}

.spinner{
    width: 50px;
    height: 50px;
    border: 5px solid gold;
    border-top: 5px solid white;
    border-radius: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 50px;
}


.spin{
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-top: 5px solid white;
    border-radius: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto 50px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dots-loading {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.dot {
    width: 15px;
    height: 15px;
    background: #00fff0;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-outs;
}

.dot:nth-child(1) { animation-delay: -0.32s; }
.dot:nth-child(2) { animation-delay: -0.16s; }

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

